@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body{
  color: #333;
  background-color: #D3CCF7;
  font-size: 14px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.inner{
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* HEADER */
header{
  background-color: #D3CCF7;
  transition: .4s;
}
header:hover{
  background-color: #fff;
}
header .inner{
  width: 1100px;
  display: flex;
  height: 70px;
  padding: 0 20px;
}
.header__logo {
  height: 32px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.header__logo a img{
  width: 100px;
}
/* HEADER menu */
.header__menu{
  display: flex;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 150px;
  margin: auto;
}
.header__menu .item{
}
/* 아이콘 포함한 bgc를 적용하기 위하여 li에 적용하였으나 
padding, margin값이 다름 확인 필요 */
.header__menu li:hover a{
  background-color: #e2e2e2;
  border-radius: 3px;
  padding: 8px;
}
.header__menu li a{
  color: #333;
  font-size: 16px;
  margin-right: 40px;
  padding: 8px;
}
.header__menu li i{
  font-size: 12px;
  color: #333;
  margin-left: 10px;
  transition: .4s;
}
/* 화살표 방향 돌리기 */
.header__menu a:hover > i{
  transform: rotate(180deg);
}

/* header drop */
.header__menu .item .item__contents{
  position: fixed;
  width: 100%;
  height: 750px;
  left: 0;
  background-color: #fff;
  top: 56px;
  z-index: 1;
  display: none;
}
.header__menu .item:hover .item__contents{
  display: block;
}
.header__menu .item:hover .item__contents .item__contetns__menu{
  display: flex;
  width: 100%;
  padding: 10px 0;
  height: 750px;
}
.header__menu .item .item__contents .item__contetns__menu .inner{

}
.header__menu .item .item__contents .item__contetns__menu .inner>div>ul{

}
.header__menu .item .item__contents .item__contetns__menu .inner >div>ul>li{
  width: 340px;
  display: flex;
  /* margin-right:20px; */
  padding: 20px;
}
.header__menu .item .item__contents .item__contetns__menu .inner >div>ul>li i{
  display: block;
  font-size: 40px;
  color: #9C7FFC;
  margin-right: 10px;
}
.header__menu .item .item__contents .item__contetns__menu .inner >div>ul>li>div:nth-child(2)>div:nth-child(2){
  color: #9499A0;
  margin: 5px 0;
}
/* btn */
.header__btn{
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 20px;
  right: 20px;
  margin: auto;
  font-size: 14px;
}
.header__btn__login a{
  margin: 0 20px;
  color: #333;
}
.header__btn__login:hover{
  text-decoration: underline;
  cursor: pointer;
}
.header__btn__register a{
  padding: 8px 16px;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
}
.header__btn__register:hover{
  opacity: .8;
  cursor: pointer;
}
